<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="shortcut icon" href="/favicon.ico">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.) css/vendor.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:css(.tmp) css/main.css -->
        <link rel="stylesheet" href="/css/main.css">
        <!-- endbuild -->

    </head>
    <body>

      <header id="cover" class="home clearfix">
        <h1 id="logo" class="hide"><a href="./">Centro</a></h1>

        <a href="#menu" id="menu-icon" class="white">Abrir Menu</a>
      </header>

      <nav id="menu">
        <a href="" class="close">&times;</a>

        <dl>
          <dt><a href="./">Início</a></dt>
        </dl>
        <dl>
          <dt><a href="">Sobre</a></dt>
        </dl>
        <dl>
          <dt><a href="#">Projetos</a></dt>
          {% sorted_for post in site.posts sort_by:title %}
            {% if post.enabled == "enabled" %}
              <dd><a href="{{ post.url  | remove_first:'/' }}">{{ post.title }}</a></dd>
            {% else %}
              <dd>{{ post.title }}</dd>
            {% endif %}
          {% endsorted_for %}
        </dl>
        <dl>
          <dt><a href="">Mapa</a></dt>
        </dl>
        <dl>
          <dt><a href="">Contato</a></dt>
          <dd><a href="">email</a></dd>
          <dd><a href="">facebook</a></dd>
        </dl>
      </nav>

      <main id="main">
        <div class="container">
          {{ content }}
        </div>
      </main>




      <footer id="main">
        <div class="container">
          <p class="text-center">CENTRO – 2014-2015</p>
          <p class="text-center">Criado no centro de São Paulo. Licenciado em Creative Commons.</p>
        </div>
      </footer>

      <!-- build:js(app) js/vendor.js -->
      <!-- bower:js -->
      <script src="/_bower_components/jquery/dist/jquery.js"></script>
      <script src="/_bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
      <script src="/_bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
      <script src="/_bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
      <script src="/_bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
      <script src="/_bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
      <script src="/_bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
      <script src="/_bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
      <script src="/_bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
      <script src="/_bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
      <script src="/_bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
      <script src="/_bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
      <script src="/_bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
      <script src="/_bower_components/lodash/lodash.js"></script>
      <!-- endbower -->
      <script src="/_bower_components/preload/jquery.preload.js"></script>
      <!-- endbuild -->

      <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
      <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
      </script>

      <!-- build:js(app) js/scripts.js -->
      <script src="/js/main.js"></script>
      <!-- endbuild -->
    </body>
</html>
