<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} | CENTRO</title>
    <meta name="description" content="{{ page.title }} {{ page.description }}">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) css/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) css/main.css -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- endbuild -->
  </head>
  <body id="place">

    <header id="cover" class="clearfix {{ page.coverClass }}">
      <div class="cover-pic"></div>
      <div class="container text-center">
        <h1><a href="">{{ page.title }}</a></h1>
        <h2>{{ page.subtitle }}</h2>
      </div>

      <a data-component="Toggle ToggleColor" data-target="#menu" href="javascript:;" id="menu-icon" class="light">Abrir Menu</a>
      <div class="share-options">
        <a data-component="ToggleColor" class="share-link share-link__fb" href="javascript:;">facebook</a>
        <a data-component="ToggleColor" class="share-link share-link__twitter" href="javascript:;">facebook</a>
      </div>
    </header>


    <nav id="menu">
      <a data-component="Close" data-target="#menu" href="javascript:;" class="close">&times;</a>

      <dl>
        <dt><a href="./">Início</a></dt>
      </dl>
      <dl>
        <dt><a href="">Sobre</a></dt>
      </dl>
      <dl>
        <dt><a href="#">Projetos</a></dt>
        {% sorted_for post in site.posts sort_by:weight %}
          {% if post.enabled == "enabled" %}
            <dd><a href="{{ post.url  | remove_first:'/' }}">{{ post.title }}</a></dd>
          {% else %}
            <dd>{{ post.title }}</dd>
          {% endif %}
        {% endsorted_for %}
      </dl>
      <dl>
        <dt><a href="">Mapa</a></dt>
      </dl>
      <dl>
        <dt><a href="">Contato</a></dt>
        <dd><a href="">email</a></dd>
        <dd><a href="">facebook</a></dd>
      </dl>
    </nav>

    <main id="main" class="details">
      {{ content }}
    </main>

    <footer id="main">
      <div class="container">

        {% assign filtred_posts = site.posts | where:"enabled","enabled" | sort: 'title'%}
        {% for post in filtred_posts sort_by:title %}
            {% if post.url == page.url %}
                {% assign post_index0 = forloop.index0 %}
                {% assign post_index1 = forloop.index %}
            {% endif %}
        {% endfor %}
        {% for post in filtred_posts sort_by:title %}
            {% if post_index0 == forloop.index %}
                {% assign prev_post = post.url %}
                {% assign prev_post_title = post.title %}
            {% endif %}
            {% if post_index1 == forloop.index0 %}
                {% assign next_post = post.url %}
                {% assign next_post_title = post.title %}
            {% endif %}
        {% endfor %}

        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="row footer-nav">
              <div class="col-md-4">
                {% if prev_post %}
                    <p class="pull-left">← <a href="{{ prev_post | remove_first:'/' }}">{{prev_post_title}}</a></p>
                {% endif %}
              </div>
              <div class="col-md-4">
                <p class="text-center"><a href="./">Início</a></p>
              </div>
              <div class="col-md-4">
                {% if next_post %}
                  <p class="pull-right"><a href="{{ next_post | remove_first:'/' }}">{{next_post_title}}</a> →</p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <p class="text-center">CENTRO – 2014-2015</p>
          <p class="text-center">Criado no centro de São Paulo. Licenciado em <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">Creative Commons</a>.</p>
        </div>
        
      </div>
    </footer>


    <!-- build:js(app) js/vendor.js -->
    <!-- bower:js -->
    <script src="/_bower_components/jquery/dist/jquery.js"></script>
    <script src="/_bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
    <script src="/_bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
    <script src="/_bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
    <script src="/_bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="/_bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="/_bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="/_bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
    <script src="/_bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
    <script src="/_bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="/_bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
    <script src="/_bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="/_bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
    <script src="/_bower_components/lodash/lodash.js"></script>
    <!-- endbower -->
    <script src="/_bower_components/preload/jquery.preload.js"></script>
    <script src="/_bower_components/queryloader2/queryloader2.min.js"></script>
    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcHrA5A9--UmPLJpN47daL7AihSkNMABY&sensor=false"></script>

      <!-- build:js(app) js/scripts.js -->

      <script src="/js/lib/sji.js"></script>
      <script src="/js/lib/underscore.js"></script>
      <script src="/js/lib/TweenMax.js"></script>
      
      <script src="/js/core/Alias.js"></script>
      <script src="/js/core/Component.js"></script>
      <script src="/js/core/ClientDetect.js"></script>
      <script src="/js/core/Util.js"></script>
      <script src="/js/core/Preloader.js"></script>
      <script src="/js/core/Main.js"></script>
      
      <script src="/js/components/Toggle.js"></script>
      <script src="/js/components/Close.js"></script>
      <script src="/js/components/ToggleColor.js"></script>


      <script src="/js/main.js"></script>

      <!-- endbuild -->
    </body>
</html>
