<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} | CENTRO</title>
    <meta name="description" content="{{ page.title }} {{ page.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">

    <meta content="{{ page.title }} | CENTRO" property="og:site_name">
    <meta content="http://centro.cx/img/share/{{ page.shareImage }}" property="og:image">
    <meta content="article" property="og:type">
    <meta content="http://centro.cx/{{ page.permalink }}" name="og:url" />
    <meta property="og:title" content="{{ page.title }} | CENTRO"/>
    <meta property="og:description" content="{{ page.title }}{{ page.description }} {{ page.address }}"/>
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="{{ page.title }} | CENTRO">
    <meta name="twitter:description" content="{{ page.title }}{{ page.description }} {{ page.address }} http://centro.cx/{{ page.permalink }}">
    <meta name="twitter:creator" content="">
    <meta name="twitter:image:src" content="http://centro.cx/img/share/share.jpg">
    <meta name="twitter:domain" content="http://centro.cx/{{ page.permalink }}">

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <meta name="apple-mobile-web-app-title" content="centro.cx">
    <meta name="application-name" content="centro.cx">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) css/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) css/main.css -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- endbuild -->
  </head>
  <body id="place">

    <div class="fixed-header" data-component="FixedHeader">
      <strong>CENTRO</strong>
    </div>

    <header id="cover" class="clearfix {{ page.coverClass }}">
      <div class="cover-pic" data-component="AnimateScale" data-to="1.06"></div>

      <div class="container text-center">
        <h1><a href="">{{ page.title }}</a></h1>
        <h2>{{ page.subtitle }}</h2>
      </div>

      <a data-component="Toggle ToggleColor" data-target="#menu, body" data-event="touchend mouseover" href="javascript:;" id="menu-icon" class="light">Abrir Menu</a>
        <div class="share-options mobile-centered">
          <a data-component="ToggleColor" class="share-link share-link__fb" href="https://www.facebook.com/sharer.php?u=http://centro.cx/{{ page.permalink }}">facebook</a>
          <a data-component="ToggleColor" class="share-link share-link__twitter" href="https://twitter.com/intent/tweet?text={{ page.title }}{{ page.description }} {{ page.address }}&url=http://centro.cx/{{ page.permalink }}">twitter</a>
        </div>
    </header>

    {% include menu.html %}

    <main id="main" class="details">
      {{ content }}
    </main>

    <footer id="main">
      <div class="container">

        {% assign filtred_posts = site.posts | where:"enabled","enabled" | sort: 'title'%}
        {% for post in filtred_posts sort_by:title %}
            {% if post.url == page.url %}
                {% assign post_index0 = forloop.index0 %}
                {% assign post_index1 = forloop.index %}
            {% endif %}
        {% endfor %}
        {% for post in filtred_posts sort_by:title %}
            {% if post_index0 == forloop.index %}
                {% assign prev_post = post.url %}
                {% assign prev_post_title = post.title %}
            {% endif %}
            {% if post_index1 == forloop.index0 %}
                {% assign next_post = post.url %}
                {% assign next_post_title = post.title %}
            {% endif %}
        {% endfor %}

        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="row footer-nav">
              <div class="col-md-4">
                {% if prev_post %}
                    <p class="pull-left">← <a href="{{ prev_post | remove_first:'/' }}">{{prev_post_title}}</a></p>
                {% endif %}
              </div>
              <div class="col-md-4">
                <p class="text-center"><a href="./">Início</a></p>
              </div>
              <div class="col-md-4">
                {% if next_post %}
                  <p class="pull-right"><a href="{{ next_post | remove_first:'/' }}">{{next_post_title}}</a> →</p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <p class="text-center">CENTRO – 2014-2015</p>
          <p class="text-center">Criado no centro de São Paulo. Licenciado em <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">Creative Commons</a>.</p>
        </div>

      </div>
    </footer>


    <!-- build:js(app) js/vendor.js -->
    <!-- bower:js -->
    <script src="/_bower_components/jquery/dist/jquery.js"></script>
    <script src="/_bower_components/lodash/lodash.js"></script>
    <script src="/_bower_components/hammerjs/hammer.js"></script>
    <!-- endbower -->
    <script src="/_bower_components/preload/jquery.preload.js"></script>
    <script src="/_bower_components/queryloader2/queryloader2.min.js"></script>
    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <!-- <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script> -->

    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcHrA5A9--UmPLJpN47daL7AihSkNMABY&sensor=false"></script> -->

      <!-- build:js(app) js/scripts.js -->

      <script src="js/lib/sji.js"></script>
      <script src="js/lib/underscore.js"></script>
      <script src="js/lib/jquery.viewportchecker.min.js"></script>

      <script src="js/core/Alias.js"></script>
      <script src="js/core/Component.js"></script>
      <script src="js/core/ClientDetect.js"></script>
      <script src="js/core/Util.js"></script>
      <script src="js/core/Preloader.js"></script>
      <script src="js/core/Main.js"></script>

      <script src="js/components/Toggle.js"></script>
      <script src="js/components/Close.js"></script>
      <script src="js/components/ToggleColor.js"></script>
      <script src="js/components/FixedHeader.js"></script>
      <script src="js/components/AnimateScale.js"></script>

      <script src="js/main.js"></script>

      <!-- endbuild -->
    </body>
</html>
