#cover {
  overflow: hidden;
  min-height: 100%;
  margin-bottom: 75px;

    @media (max-width: 768px) {
      margin-bottom: 0;
    }

  .cover-pic {
    position: relative;
    min-height: 100%;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    @include transform(origin(center center));

    &.is-active {
      @include transform(scale(1.5));
      @include transform(origin(center center));
    }
  }

  $covers-list: home, casa-do-povo, overground, phosphorus;

  @each $cover in $covers-list {
      &.#{$cover} .cover-pic {
          background: #FFF image-url("covers/#{$cover}.jpg") no-repeat center;
          @include background-size(cover);

          @include retina() {
            background: #FFF image-url("covers-hd/#{$cover}.jpg") no-repeat center;
            @include background-size(cover);
          }
      }
  }

  .container {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    @include transform(translateY(-50%));
  }

  h1, h2 {
    color: #FFF;
    margin: 0;

    a {
      color: #FFF;
      text-decoration: none;
    }
  }

  h1 {
    font: 700 100px "Plantin";

    @media (max-width: 768px) {
      font-size: 54px;
    }

    @media (max-width: 340px) {
      font-size: 45px;
    }
  }

  h2 {
    font: 400 30px "Dia";

    @media (max-width: 768px) {
      font-size: 22px;
    }

    @media (max-width: 340px) {
      font-size: 18px;
    }
  }
}
