h1#logo {
  margin: 0;
  padding: 0;
  position: absolute;

  top: 50%;
  left: 50%;

  @include transform(translateX(-50%) translateY(-50%));

  @for $i from 1 through 10 {
    &.logo_#{$i} > a {
      $img: "logos/spr_logos.png";
      display: block;
      width: image-width($img);
      height: 346px;
      border: 0;
      text-indent: -9999px;
      font-size: 0;
      background: image-url($img) no-repeat center;
      background-position: 0 (($i - 1) * -346px);

      @media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
        & {
          $img-hd: "logos-hd/logo_#{$i}.png";
          background: image-url($img-hd) no-repeat center;
          @include background-size(ceil(image-width($img-hd) / 2) auto);
        }
      }
    }
  }

  @media (max-width: 600px) {
    @include transform(translateX(-50%) translateY(-50%) scale(0.5));
  } 
}