

#menu {
  position: fixed;
  z-index: 110;
  top: 0;
  right: 0;
  width: 510px;
  height: 100%;
  background-color: #000;
  padding-top: 27px;
  margin-right: -20px;
  overflow-y: auto;

  @media (max-width: 768px) {
    width: 407px;
  }

  @media (max-width: 450px) {
    width: 80%;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  @include transform(translateX(100%));
  @include transition(transform .2s cubic-bezier(0.645, 0.045, 0.355, 1));

  &.is-active {
    @include transform(translateX(0));
  }

  .close {
    @include sprites-general("menu-close-white");
    @include opacity(1);
    position: absolute;
    right: 30px;
    top: 27px;
  }

  a {
    color: #FFF;
    a:hover {
      text-decoration: underline;
    }
  }

  dl {
    margin: 0 0 0 32px;

    span {
      color: #FFF;
    }

    dt {
      font: 400 35px/35px "Plantin";
      margin-bottom: 15px;
    }

    dd {
      margin: 0 0 0 20px;
      font: 400 14px/21px "Dia";
      text-transform: uppercase;

      &:last-child {
        margin-bottom: 15px;
      }

    }
  }
}

#menu-icon {
  position: fixed;
  z-index: 100;
  top: 27px;
  right: 30px;

  &.light {
    @include sprites-general("menu-white");
  }

  &.dark {
    @include sprites-general("menu-black");
  }
}