
#about {
  padding-top: 76px;

  .margin-bottom {
    margin-bottom: 30px;

    &.double {
      margin-bottom: 60px;
    }
  }
}

.fixie-text {
  z-index: 9;
}

.authors {
  padding-top: 29px;
  font-size: 22px;

  dt {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    margin-bottom: 30px;
    font-family: 'Dia';
    font-weight: 700;
  }

  dd {
    display: inline-block;
    vertical-align: top;
    width: 70%;
    margin-top: 3px;
    margin-bottom: 20px;
    font-family: 'Plantin';
  }

  @media (max-width: 480px) {
    dd, dt {
      width: 100%;
    }
  }

}

.map-container {
  position: relative;
  width: 100%;
  height: 773px;
  background: #f4f2ec image-url("content/about/map.jpg") no-repeat center;
  @include background-size(cover);
}