#home {
  margin: 0 20px;
}

main#main {
  margin-bottom: 125px;
  color: #000;
  font: 400 35px/50px "Dia";
  opacity: 0;
  @include transition(opacity .2s);

  .loaded & {
    opacity: 1;
  }

  .container {
    z-index: 2;
  }

  .read-more {
    font: 400 14px/50px "Dia";
    text-decoration: underline;
    text-transform: uppercase;
    color: #000;
  }

  .company {
    font-weight: 700;
    font-size: 35px;
    font-family: "Plantin";
    color: #000;
    border-bottom: 2px solid;
    display: inline-block;
    line-height: .65;
    position: relative;
    &:hover {
      text-decoration: none;
    }
  }

  .coordinates {
    font: 400 14px/50px "Graphik";
  }

  .description {
    font: 400 35px/50px "Plantin";
  }
  
  .disabled, .disabled .company, .disabled .coordinates {
    color: #d3d3d3!important;
  }

  .disabled:hover .company:after {
    content:"Em breve";
    position: absolute;
    background-color: #FFF;
    color: #ff0000;
    font: 400 14px/50px "Dia";
    text-transform: uppercase;
    left: 0; top: 0;
    padding: 0 35px;
    margin-top: -15px;
    margin-left: 50px;
    min-width: 160px;
    display: block;
  }

  .photo-hover {
    z-index: -1;
    position: fixed;

    @include transform(translateX(-50%) translateY(-50%));
  }
}
