---
layout: default
title: CENTRO
description: CENTRO é um registro da ocupação criativa do centro de São Paulo.
---

<div id="home" class="row">
  <div class="col-md-12">
    CENTRO é um registro da ocupação criativa do centro de São Paulo. <a href="./sobre.html" class="read-more">leia mais</a>

    {% sorted_for post in site.posts sort_by:weight %}
      <span class="{{ post.enabled }}">
        {% if post.enabled == "enabled" %}
          <a href="{{ post.url | remove_first:'/' }}" class="company"
          {% if post.photo != "" %} data-photo="{{post.photo}}" {% endif%}
          >{{ post.title }}</a>
        {% else %}
          <span class="company">{{ post.title }}</span>
        {% endif %}
        <span class="coordinates">{{ post.coordinates }}</span>
        <span class="description">{{ post.description }}</span>
        <span class="address">{{ post.address }}</span>
      </span>
    {% endsorted_for %}

  </div>
</div>
