---
layout: about
title: CENTRO
description: CENTRO é um registro da ocupação criativa do centro de São Paulo.
---
<div id="about" class="fixie-text-container">
  <div class="container fixie-text">
    <div class="row margin-bottom">
      <div class="col-md-10 col-md-offset-1">
          <p>Durante décadas, o centro de São Paulo se esvaziou, com galerias, restaurantes, estúdios, bares e redações trocando a região por outros cantos da cidade. Mas essa situação começou a mudar nos últimos anos, quando uma série de projetos criativos voltaram a ocupar os bairros entre Sé e Luz, República e Liberdade. Construído ao longo de seis meses, este projeto funciona como registro desse movimento, dos criadores dessas iniciativas, dos lugares que inventaram e dos futuros que desenham para a região.</p>
      </div>
    </div>
    <div class="row margin-bottom">
      <div class="col-md-4 col-md-offset-1">
        <dl class="authors">
          <dt>Edição</dt>
          <dd>Luiz Romero (texto), <br> Felipe Rocha e Murilo Fonseca (arte)</dd>

          <dt>Fotos</dt>
          <dd>Leonardo Sang</dd>
        </dl>
      </div>
      <div class="col-md-4 col-md-offset-1">
        <dl class="authors">
          <dt>Textos</dt>
          <dd>Luiz Romero, Alexandre Aragão, Luisa Cella e Nathan Fernandes</dd>

          <dt>Design</dt>
          <dd>Felipe Rocha<br> e Murilo Fonseca</dd>

          <dt></dt>
          <dd>Obrigado a Lucas Andrade, Livia Ascava, Victor de Bone, Nicolas Henriques, Denise Saito<br> e Carolina Wan</dd>
        </dl>
      </div>
    </div>
  </div>

  <div class="centro-container">
    <div class="row margin-bottom desktop-only">
      <div class="container-gap"></div>
    </div>
    <div class="row margin-bottom">
      <div class="col-md-6 show-smooth">
        <img src="img/content/about/01.jpg" class="" alt="">
      </div>
    </div>
    <div class="row margin-bottom">
      <div class="col-md-8 pull-right show-smooth">
        <img src="img/content/about/02.jpg" class="" alt="">
      </div>
    </div>
    <div class="row margin-bottom">
      <div class="col-md-6 col-md-offset-2 show-smooth">
        <img src="img/content/about/03.jpg" class="" alt="">
      </div>
    </div>
    <div class="row margin-bottom">
      <div class="col-md-8 pull-right show-smooth">
        <img src="img/content/about/04.jpg" class="" alt="">
      </div>
    </div>
    <div class="row margin-bottom">
      <div class="col-md-6 show-smooth">
        <img src="img/content/about/05.jpg" class="" alt="">
      </div>
    </div>
    <div class="row margin-bottom desktop-only">
      <div class="container-gap" style="padding-top: 50px;"></div>
    </div>
  </div>
</div>
<div class="map-container desktop-only">
  <div class="wrapper">
    <img src="img/content/about/map.jpg" class="" alt="">

    {% sorted_for post in site.posts sort_by:weight %}
      {% if post.letter %}
      <a {% if post.enabled == "enabled" %} href="{{ post.url | remove_first:'/' }}" {% else %} href="javascript:;" {% endif %} class="marker" style="bottom:{{ post.bottom }}; left: {{ post.left }};">{{ post.letter }}</a>
      <div class="place">
        <h1>{{ post.title }}</h1>
        <p>{{ post.description }}</p>
      </div>
      {% endif %}
    {% endsorted_for %}
  
  </div>

</div>
