@import "compass/css3";

$icon-font-path: "../_bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "mixins/retina";
@import "mixins/sprites";

@import "base/base";
@import "base/font-face";
@import "base/animate";

@import "modules/cover";
@import "modules/logo";
@import "modules/header";
@import "modules/footer";
@import "modules/menu";
@import "modules/details";
@import "modules/share";

@import "templates/home";
@import "templates/about";

.f-right {
  float: right;
}

.f-left {
  float: left;
}

.mobile-only {
  display: none !important;

  @media (max-width: 992px) {
    display: block !important;
  }
}

.desktop-only {
  display: block !important;

  @media (max-width: 992px) {
    display: none !important;
  }
}

#map-container {
  height: 700px;
}

.queryloader__overlay__bar {
  top: 0 !important;
}


// animate to show content with fadein
@-webkit-keyframes showSmooth {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes showSmooth {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.showSmooth {
  -webkit-animation-name: showSmooth;
  animation-name: showSmooth;
}
