@import "compass/css3";

$icon-font-path: "../_bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "mixins/retina";
@import "mixins/sprites";

@import "base/base";
@import "base/font-face";

@import "modules/cover";
@import "modules/logo";
@import "modules/footer";
@import "modules/menu";
@import "modules/details";

@import "templates/home";


#map-container {
  height: 700px;
}

.queryloader__overlay__bar {
  top: 0 !important;
}