@font-face {
  font-family: "Dia";
  src: font-files("DiaRegular.eot");
  src: font-files("DiaRegular.eot#iefix", "DiaRegular.svg", "DiaRegular.otf", "DiaRegular.ttf");

  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Dia";
  src: font-files("DiaBold.eot");
  src: font-files("DiaBold.eot#iefix", "DiaBold.svg", "DiaBold.otf", "DiaBold.ttf");

  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: font-files("Graphik-Semibold.eot");
  src: font-files("Graphik-Semibold.eot#iefix", "Graphik-Semibold.svg", "Graphik-Semibold.otf", "Graphik-Semibold.ttf");

  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: font-files("Graphik-Regular.eot");
  src: font-files("Graphik-Regular.eot#iefix", "Graphik-Regular.svg", "Graphik-Regular.otf", "Graphik-Regular.ttf");

  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: "Plantin";
  src: font-files("PlantinMTStd-Regular.eot");
  src: font-files("PlantinMTStd-Regular.eot#iefix", "PlantinMTStd-Regular.svg", "PlantinMTStd-Regular.otf", "PlantinMTStd-Regular.ttf");

  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: "Plantin";
  src: font-files("MPlantin-Bold.eot");
  src: font-files("MPlantin-Bold.eot#iefix", "MPlantin-Bold.svg", "MPlantin-Bold.otf", "MPlantin-Bold.ttf");

  font-weight: 700;
  font-style: normal;
}
